<%= form_for :session, url: session_path do |form| %>

  <div class="hero-body">
    <div class="container has-text-centered">

        <div class="column is-4 is-offset-4">
            <div class="box" >
              <h3 class="title has-text-black" style="text-align:center">Login</h3>
              <hr class="login-hr">
                <div class="control has-icons-left has-icons-right">
                  <div class="field">
                    <%= form.text_field :email, class: 'input', type: 'email', placeholder: "Correo Electronico" %>
                  </div>
                  <span class="icon is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="password-field">
                  <p class="control has-icons-left">
                   <%= form.password_field :password, class: 'input', placeholder: "Contraseña" %>
                   <span class="icon is-small is-left">
                     <i class="fas fa-lock"></i>
                   </span>
                 </p>
                </div>
                  <div class="column is-4 is-offset-4" style="padding-top:0.7cm">
                    <div class="submit-field" style="text-align:center">
                      <%= form.submit class: 'button is-link', value: 'Iniciar sesión'%>
                    </div>
                  </div>
                </div>
                <div class="other-links" style="text-align:right">
                  <% if Clearance.configuration.allow_sign_up? %>
                    <%= link_to t(".Registrarse"), sign_up_path %>
                  <% end %>
                <!--  <%= link_to t(".forgot_password"), new_password_path %> -->
                </div>

              </div>
    </div>
</div>
<% end %>
