
<div class="container" style = "margin-top:50px">
<h1 class="title">Nuevo proyecto</h1>

<div class="tabs is-boxed" style="margin-bottom: 0rem">
  <ul>
    <li class="is-active" id="tab-config" onclick="activeTab(1)">
      <a>
        <span class="icon is-small"><i class="fas fa-edit" aria-hidden="true"></i></span>
        <span>Configuraci칩n Inicial</span>
      </a>
    </li>
    <li id="tab-hardware" onclick="activeTab(2)">
      <a>
        <span class="icon is-small"><i class="fas fa-server" aria-hidden="true"></i></span>
        <span>Hardware</span>
      </a>
    </li>
    <li id="tab-software" onclick="activeTab(3)">
      <a>
        <span class="icon is-small"><i class="fas fa-code" aria-hidden="true"></i></span>
        <span>Software</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-file-text-o" aria-hidden="true"></i></span>
        <span>Crear proyecto</span>
      </a>
    </li>
  </ul>
</div>

<script>

  function activeTab(tab){

    switch (tab) {
      case 1:
        document.getElementById("tab-hardware").classList.remove('is-active');
        document.getElementById("tab-software").classList.remove('is-active');
        document.getElementById("tab-config").classList.toggle('is-active');

        document.getElementById("section-config").classList.remove('is-hidden');
        document.getElementById("section-hardware").classList.add('is-hidden');
        document.getElementById("section-software").classList.add('is-hidden');

      break;

      case 2:
        document.getElementById("tab-config").classList.remove('is-active');
        document.getElementById("tab-software").classList.remove('is-active');
        document.getElementById("tab-hardware").classList.toggle('is-active');

        document.getElementById("section-config").classList.add('is-hidden');
        document.getElementById("section-hardware").classList.remove('is-hidden');
        document.getElementById("section-software").classList.add('is-hidden');
        break;

      case 3:
        document.getElementById("tab-config").classList.remove('is-active');
        document.getElementById("tab-hardware").classList.remove('is-active');
        document.getElementById("tab-software").classList.toggle('is-active');

        document.getElementById("section-config").classList.add('is-hidden');
        document.getElementById("section-hardware").classList.add('is-hidden');
        document.getElementById("section-software").classList.remove('is-hidden');

      break;

      case 4:
        document.getElementById("tab-config").classList.remove('is-active');
        document.getElementById("tab-hardware").classList.toggle('is-active');
      break;
    }
  }


</script>
  <style>
      .section {
          border-left: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;
          border-right: 1px solid #dbdbdb;
      }
  </style>

  <%= simple_form_for @post do |f| %>
    <div class="section" id="section-config"  style="">
      <div class="field">
        <div class="control">
          <%= f.input :title, input_html: { class: 'input' ,required: true }, wrapper: false, label_html: { class: 'label' } %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.input :content, input_html: { class: 'textarea', required: true }, wrapper: false, label_html: { class: 'label' } %>
        </div>
      </div>


      <table class="table">
        <tr>
          <td style="vertical-align: middle;">
            <label class="label is-small" style="float:left;vertical-align: middle;">Usuario</label>
          </td>

          <td style="vertical-align: middle;">
            <input class="input is-small" style="float:left;" type="text" placeholder="Nombre del usuario">
          </td>

          <td style="vertical-align: middle;">
            <label class="label is-small" style="float:left;vertical-align: middle;">Contrase침a</label>
          </td>

          <td style="vertical-align: middle;">
            <input class="input is-small" style="float:left;" type="password" placeholder="">
          </td>
        </tr>
      </table>
      <div style="float:right">
        <button id="btn_hardware_next" class="button" onclick="changeTab()" style="background:#5c068c;color:white">Siguiente</button>
      </div>
    </div>


    <div class="section is-hidden" id="section-hardware" style="border-left: 1px solid #dbdbdb; margin-bottom:4cm">
      <table class="table">
        <tr>
          <td>
            <label class="label is-small" style="float:left;vertical-align: middle;">Sistema Operativo</label>
          </td>
          <td>
            <div class="control">
              <div class="select is-small">
                <select>
                  <option>centos-7</option>
                  <option>centos-8</option>
                  <option>debian-9</option>
                  <option>ubuntu-1804</option>
                </select>
              </div>
            </div>
          </td>
          <td style="vertical-align: middle;">
            <label class="label is-small" style="float:left;vertical-align: middle;">Almacenamiento</label>
          </td>

          <td style="vertical-align: middle;">
            <input class="input is-small" style="float:left;" type="text" placeholder="Gigabytes">
          </td>

          <td style="vertical-align: middle;">
            <label class="label is-small" style="float:left;vertical-align: middle;">Memoria RAM</label>
          </td>

          <td style="vertical-align: middle;">
            <input class="input is-small" style="float:left;" type="text" placeholder="Bytes" value="1024">
          </td>


          <td style="vertical-align: middle;">
            <div class="control" style="vertical-align: middle;">
              <label class="label is-small" ">Numero de equipos</label>
          </td>
          <td>
              <div class="select is-small">
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
          </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">
              <label class="label is-small" style="float:left;vertical-align: middle;">Espacio de trabajo</label>
            </td>

            <td style="vertical-align: middle;">
              <input class="input is-small" style="float:left;" type="text" placeholder="Cuota">
            </td>

            <td style="vertical-align: middle;">
              <label class="label is-small" style="float:left;vertical-align: middle;">Cluster</label>
            </td>

            <td style="vertical-align: middle;">
              <input class="input is-small" style="float:left;" type="text" placeholder="Nombre del cluster">
            </td>
        </tr>

        <tr>
            <td style="vertical-align: middle;">
              <label class="label is-small" style="float:left;vertical-align: middle;">Nombre de usuario</label>
            </td>

            <td style="vertical-align: middle;">
              <input class="input is-small" style="float:left;" type="text" placeholder="Usuario del sistema" value="Usuario">
            </td>

            <td style="vertical-align: middle;">
              <label class="label is-small" style="float:left;vertical-align: middle;">Contrase침a de root</label>
            </td>

            <td style="vertical-align: middle;">
              <input class="input is-small" style="float:left;" type="text" placeholder="Contrase침a" value="Usuario">
            </td>

            <td style="vertical-align: middle;">
              <label class="label is-small" style="float:left;vertical-align: middle;">Numero de procesadores</label>
            </td>

            <td style="vertical-align: middle;">
              <input class="input is-small" style="float:left;" type="text" placeholder="Procesadores" value="1">
            </td>
        </tr>

      </table>
      <div style="float:right">
        <button id="btn_hardware_next" class="button" onclick="changeTab()" style="background:#5c068c;color:white">Siguiente</button>
      </div>
    </div>

    <div class="section is-hidden" id="section-software" style="border-left: 1px solid #dbdbdb; margin-bottom:4cm">
      <h2 style="padding-bottom:0.2cm;"><strong>Aplicaciones pre-instaladas</strong></h2>
      <div class="box" style="display: inline-block">
        <label class="checkbox">
          <input type="checkbox">
            <%= image_tag("python_150.png", :alt => "python") %>
        <label class="checkbox">
          <input type="checkbox">
            <%= image_tag("java_150.png", :alt => "java") %>
        <label class="checkbox">
          <input type="checkbox">
            <%= image_tag("ruby_150.png", :alt => "ruby") %>
        <label class="checkbox">
          <input type="checkbox">
            <%= image_tag("r_150.png", :alt => "R") %>
        <label class="checkbox">
            <input type="checkbox">
            <%= image_tag("nodejs_150.png", :alt => "nodejs") %>
        </label>
      </div>
    </div>
    <div id="submit-container" style = "margin-top:10px">
      <%= f.button :submit, 'Nuevo proyecto', class: "button is-primary" %>
    </div>
  <% end %>
  </div>

</div>
