<!DOCTYPE html>
<html>
<head>
<title>TFM Maquinas Virtuales</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header style="background:#5c068c">
    <%= image_tag("ull_logo.png", :alt => "ULL") %>
  </header>
  <section class="hero is-light is-small">
  <div class="hero-body">
    <div class="container">
      <div id="header" style="float:right">
        <% if signed_in? -%>
          <%= button_to t(".sign_out"), sign_out_path, method: :delete, class: 'button is-small' %>
        <% else -%>
          <%= link_to t(".sign_in"), sign_in_path, class: 'button is-small' %>
        <% end -%>
      </div>
    </div>
  </div>
  </section>

  <%= yield %>
</body>
</html>
